mixin s-competences()
	// start s-competences
	+b.SECTION.s-competences.section.block-with-lazy#s-competences&attributes(attributes)
		.container
			+b.section-title
				h2(class="wow fadeInUp" data-wow-duration=`${dur * 1}s`  )  Ключевые компетенции 
					|
					span.text-primary нашей команды 
				.h4(class="wow fadeInUp" data-wow-duration=`${dur * 1}s` data-wow-delay=`${delay * .5}s`)  Автоматизируя процессы в&nbsp;вашем бизнесе, мы&nbsp;делаем его эффективнее.
		 
			mixin item(i,  or) 
				+e.item(class="wow fadeInUp" data-wow-duration=`${dur * 1}s` data-wow-delay=`${delay  * (i * .5) }s`)
					//- .before 0
					//- 	= i
					.row
						.col-sm-auto
							+e.icon-wrap
								+icon("s-competences-" + i)
						//- h6= or
						.col-sm
							block
							//- p Создаем рекламную кампанию, полностью берем на&nbsp;себя управление, оптимизируем бюджет и&nbsp;ежемесячно присылаем отчеты.
							ul
								li CRM
								li Розичные магазины
								li Складской учет
								li Управленческая отчетность
							ol
								li 1С: Розница
								li 1С: УНФ
								li 1С: Управление торговлей
						.col-sm-auto
							if or
								+e.btn.btn-primary.popup-with-move-anim(href="#modal-call" data-title="Оставить заявку" data-order= or   data-btn="Оставить заявку") заказать
							else
								+e.btn.btn-primary(href="#" data-title="заказать" data-order="заказать"   data-btn="заказать") заказать
				// /+e.item
			+item('1','оптово-розничная торговля')
				h6 оптово-розничная
					|
					| торговля
			+item('2','бухгалтерский учёт')
				h6 бухгалтерский
					|
					| учёт
			+item('3','учёт зарплаты и кадров')
				h6 учёт зарплаты
					|
					| и&nbsp;кадров
			+item('4','информационно-технологическое сопровождение (итс)')
				h6 информационно-
					|
					| технологическое
					|
					| сопровождение (итс)

				|	awdawdawdw
			+item('5','сопровождение 1с')
				h6 сопровождение
					|
					| 1с
			+item('6','доработка существующей системы учёта')
				h6 доработка
					|
					| существующей
					|
					| системы учёта
			+item('7','автоматизация производства')
				h6 автоматизация производства
			+item('8','торгово-кассовое оборудование')
				h6 торгово-кассовое оборудование
			+item('9','учёт автотранспорта и транспортная логистика')
				h6 учёт автотранспорта и&nbsp;транспортная логистика 	
			//- +control-sl()
	// end s-competences