mixin s-competences()
	// start s-competences
	+b.SECTION.s-competences.section.block-with-lazy#s-competences&attributes(attributes)
		.container
			+b.section-title
				h2(class="wow fadeInUp" data-wow-duration=`${dur * 1}s`  )  Ключевые компетенции 
					|
					span.text-primary нашей команды 
				.h4(class="wow fadeInUp" data-wow-duration=`${dur * 1}s` data-wow-delay=`${delay * .5}s`)  Автоматизируя процессы в&nbsp;вашем бизнесе, мы&nbsp;делаем его эффективнее.
		 
			mixin item(i,  or) 
				+e.item(class="wow fadeInUp" data-wow-duration=`${dur * 1}s` data-wow-delay=`${delay  * (i * .5) }s`)
					//- .before 0
					//- 	= i
					.row
						.col-sm-auto
							+e.icon-wrap
								+icon("s-competences-" + i)
						//- h6= or
						.col-sm
							block
							//- p Создаем рекламную кампанию, полностью берем на&nbsp;себя управление, оптимизируем бюджет и&nbsp;ежемесячно присылаем отчеты.
							ul
								li CRM
								li Розичные магазины
								li Складской учет
								li Управленческая отчетность
							ol
								li 1С: Розница
								li 1С: УНФ
								li 1С: Управление торговлей
						.col-sm-auto
							if or
								+e.btn.btn-primary.popup-with-move-anim(href="#modal-call" data-title="Оставить заявку" data-order= or   data-btn="Оставить заявку") заказать
							else
								+e.btn.btn-primary(href="#" data-title="заказать" data-order="заказать"   data-btn="заказать") заказать
				// /+e.item
			+item('1','оптово-розничная торговля')
				h6 оптово-розничная
					|
					| торговля
			+item('2','бухгалтерский учёт')
				h6 бухгалтерский
					|
					| учёт
			+item('3','учёт зарплаты и кадров')
				h6 учёт зарплаты
					|
					| и&nbsp;кадров
			+item('4','информационно-технологическое сопровождение (итс)')
				h6 информационно-
					|
					| технологическое
					|
					| сопровождение (итс)

				|	awdawdawdw
			+item('5','сопровождение 1с')
				h6 сопровождение
					|
					| 1с
			+item('6','доработка существующей системы учёта')
				h6 доработка
					|
					| существующей
					|
					| системы учёта
			+item('7','автоматизация производства')
				h6 автоматизация производства
			+item('8','торгово-кассовое оборудование')
				h6 торгово-кассовое оборудование
			+item('9','учёт автотранспорта и транспортная логистика')
				h6 учёт автотранспорта и&nbsp;транспортная логистика 	
			//- +control-sl()
	// end s-competences


mixin s-competences-card()
	// start s-competences
	+b.s-competences#s-competences&attributes(attributes)
		mixin item(t) 
			+e.item
				//- .before 0
				//- 	= i
				+e.tabs-row.row
					.col-md-6.col-12.col-lg-8.col-xl-7.text-left
						.row
							+e.col-img.col-auto.d-none.d-xl-block
								+e.img-wrapper
									img(src="img/product.png" alt="")
							.col
								+e.item-title
									a(href="#")=t
								+e.descr Автоматизация процессов управления на предприятиях до&nbsp;20 мест.
					//- h6= or
					.col-12.col-md
						.row
							.col-6.col-md-6.d-flex.d-lg-block.justify-content-center.align-items-center.text-center
								+e.price.d-md-none.d-xl-inline-block.text-center Цена:
									+e.price-wrapper 38 500
										span.i-font o
								+e.price.d-none.d-md-inline-block.d-xl-none
									+e.price-wrapper 38 500
										span.i-font o
							//- +e.btn-col-wrapper.col-xl-auto.col-6.col-md-12
							//- 	+e.btn-row.row.justify-content-end
							+e.btn-col.col-6.col-md-6
								+e.btn.btn-primary.popup-with-move-anim(href="#order" data-title="купить" data-order=t data-btn="купить") купить
									span
			// /+e.item
		+item('1С:Бухгалтерия 8 КОРП (USB)')
		+item('1С:Бухгалтерия государственного учреждения 8 ПРОФ (USB)')
		+item('1С:Бухгалтерия 8. Комплект на 5 пользователей')
		+item('1С:Бухгалтерия государственного учреждения 8 ПРОФ')
		+item('1С:Бухгалтерия 8 КОРП (USB)')
			//- +control-sl()
	// end s-competences


mixin s-competences-card-2()
	// start s-competences
	+b.SECTION.s-competences.section.block-with-lazy#s-competences&attributes(attributes)
		mixin item(t) 
			+e.item
				//- .before 0
				//- 	= i
				.row
					.col-md-6.col-12.col-lg-8.col-xl-7.text-left
						.row
							.col-auto.d-none.d-xl-block
								+e.img-wrapper
									img(src="img/product.png" alt="")
							.col
								+e.item-title
									a(href="#")=t
					//- h6= or
					
					.col-12.col-md
						.row
							.col-6.col-md-6.d-flex.d-lg-block.justify-content-center.align-items-center.text-center
								+e.price.d-md-none.d-xl-inline-block.text-center Цена:
									+e.price-wrapper 38 500
										span.i-font o
								+e.price.d-none.d-md-inline-block.d-xl-none
									+e.price-wrapper 38 500
										span.i-font o
							//- +e.btn-col-wrapper.col-xl-auto.col-6.col-md-12
							//- 	+e.btn-row.row.justify-content-end
							+e.btn-col.col-6.col-md-6
								+e.btn.btn-primary.popup-with-move-anim(href="#order" data-title="купить" data-order=t data-btn="купить") купить
									span
					
					//- .col-12.col-md
					//- 	.row
					//- 		.col-xl.col-6.col-md-12.d-flex.d-md-block.justify-content-center
					//- 			.row.justify-content-end
					//- 				+e.price-col.col-xl-12.col-12.col-md-6.col-xl-12.col-6.d-flex.d-lg-block.justify-content-center
					//- 					+e.price Цена:
					//- 						+e.price-wrapper 38 500
					//- 							span.i-font o
					//- 		+e.btn-col-wrapper.col-xl-auto.col-6.col-md-12
					//- 			+e.btn-row.row.justify-content-end
					//- 				+e.btn-col.col-xl-12.col-12.col-md-6
					//- 					+e.btn.btn-primary.popup-with-move-anim(href="#order" data-title="купить" data-order=t   data-btn="купить") купить
					//- 						span
			// /+e.item
		+item('1С:Бухгалтерия 8 КОРП (USB)')
		+item('1С:Бухгалтерия государственного учреждения 8 ПРОФ (USB)')
		+item('1С:Бухгалтерия 8. Комплект на 5 пользователей')
		+item('1С:Бухгалтерия государственного учреждения 8 ПРОФ')
		+item('1С:Бухгалтерия 8 КОРП (USB)')
			//- +control-sl()
	// end s-competences




mixin s-competences-2()
	// start s-competences
	+b.SECTION.s-competences.section.block-with-lazy#s-competences&attributes(attributes)
		.container
			//- +b.section-title
			//- 	h2(class="wow fadeInUp" data-wow-duration=`${dur * 1}s`  )  Ключевые компетенции 
			//- 		|
			//- 		span.text-primary нашей команды 
			//- 	.h4(class="wow fadeInUp" data-wow-duration=`${dur * 1}s` data-wow-delay=`${delay * .5}s`)  Автоматизируя процессы в&nbsp;вашем бизнесе, мы&nbsp;делаем его эффективнее.
		 
			mixin item(i, t,  or, d, ep) 
				+e.item
					//- .before 0
					//- 	= i
					.row
						.col-md-6.col-12.col-lg-8.col-xl-7.text-left
							.row
								.col-auto.d-none.d-xl-block
									+e.img-wrapper
										img(src="img/product-box.png" alt="")
								.col
									+e.item-title
										a(href="#")=t
									+e.descr Автоматизация процессов управления на предприятиях до&nbsp;20 мест.
									if d
										+e.demo Бесплатный демо-доступ
						//- h6= or
						.col-12.col-md-6.col-lg-4.col-xl-5
							.row
								.col-xl-7.col-xs-6.col-md-12.d-flex.d-md-block.justify-content-center
									.row.justify-content-end
										if ep
											+e.price-col.price-light-col.col-xl-12.col-12.col-md-6.order-last.order-md-first.order-xl-last.d-flex.d-lg-block.justify-content-center
												+e.price.price--small За 1 пользователя:
													+e.price-wrapper.bg-light от 1 200
														span.i-font o
														|/мес.
										+e.price-col.col-xl-12.col-12.col-md-6.col-xl-12.col-6.d-flex.d-lg-block.justify-content-center
											+e.price Цена:
												+e.price-wrapper 38 500
													span.i-font o
								+e.btn-col-wrapper.col-xl-auto.col-xs-6.col-md-12
									+e.btn-row.row.justify-content-end
										if ep
											+e.btn-col.col-xl-12.col-12.col-md-6.order-last.order-md-first.order-xl-last
												if or
													+e.btn.btn--white.btn-primary.popup-with-move-anim(href="#arend" data-title="Оставить заявку" data-order= or   data-btn="Оставить заявку") арендовать
												else
													+e.btn.btn--white.btn-primary(href="#arend" data-title="заказать" data-order="заказать"   data-btn="заказать") арендовать
										+e.btn-col.col-xl-12.col-12.col-md-6
											if or
												+e.btn.btn-primary.popup-with-move-anim(href="#order" data-title="Оставить заявку" data-order= or   data-btn="Оставить заявку") заказать
													span
											else
												+e.btn.btn-primary(href="#order" data-title="заказать" data-order="заказать"   data-btn="заказать") заказать
													span
				// /+e.item
			+item('1','1С:Бухгалтерия 8 КОРП (USB)','оптово-розничная торговля','d')
			+item('2','1С:Бухгалтерия государственного учреждения 8 ПРОФ (USB)','бухгалтерский учёт','','ep')
			+item('3','1С:Бухгалтерия 8. Комплект на 5 пользователей','учёт зарплаты и кадров')
			+item('4','1С:Бухгалтерия государственного учреждения 8 ПРОФ','информационно-технологическое сопровождение (итс)')
			+item('5','1С:Бухгалтерия 8 КОРП (USB)','сопровождение 1с')
			+item('6','1С:Бухгалтерия государственного учреждения 8 ПРОФ (USB)','доработка существующей системы учёта')
			+item('7','1С:Бухгалтерия 8. Комплект на 5 пользователей1С:Бухгалтерия 8. Комплект на 5 пользователей','автоматизация производства')
			+item('8','1С:Бухгалтерия государственного учреждения 8 ПРОФ','торгово-кассовое оборудование')
			+item('9','1С:Бухгалтерия 8 КОРП (USB)','учёт автотранспорта и транспортная логистика')
			+item('10','1С:Бухгалтерия государственного учреждения 8 ПРОФ (USB)','учёт автотранспорта и транспортная логистика')
			+item('11','1С:Бухгалтерия 8. Комплект на 5 пользователей','учёт автотранспорта и транспортная логистика')
			+item('12','1С:Бухгалтерия государственного учреждения 8 ПРОФ','учёт автотранспорта и транспортная логистика')
			+item('13','1С:Бухгалтерия 8 КОРП (USB)','учёт автотранспорта и транспортная логистика')
			+item('14','1С:Бухгалтерия государственного учреждения 8 ПРОФ (USB)','учёт автотранспорта и транспортная логистика')
			+item('15','1С:Бухгалтерия 8. Комплект на 5 пользователей','учёт автотранспорта и транспортная логистика')
			+item('16','1С:Бухгалтерия государственного учреждения 8 ПРОФ','учёт автотранспорта и транспортная логистика')
			//- +control-sl()
	// end s-competences