mixin s-steps()
	// start s-steps
	+b.SECTION.s-steps.section.block-with-lazy#s-steps&attributes(attributes)
		.tabs2.container
			//- align-items-center
			+b.section-title(class="wow fadeInUp" data-wow-duration=`${dur * 1}s`   )
				h2 
					span.text-primary Этапы работы 
					| 
					| с&nbsp;вашим бизнесом
			+e.text(class="wow fadeInUp" data-wow-duration=`${dur * 2}s`   ) Мы&nbsp;относимся к&nbsp;каждому проекту индивидуально и&nbsp;формируем проектную команду исключительно из&nbsp;опытных специалистов.
			.tabs2__caption(class="wow fadeInUp" data-wow-duration=`${dur * 3}s`   )
				.tabs2__btn.active Средний бизнес
				.tabs2__btn  Крупный бизнес
			 
			.tabs2__wrap(class="wow fadeInUp" data-wow-duration=`${dur * 4}s`   )
				mixin tab()
					.tabs2__content2&attributes(attributes)
						.row
							block 
					// /.tabs2__content2
				mixin accord()
					+e.col&attributes(attributes)
						+b.accordion--js
							+e.head
								block
							+e.body На графике показан усредненный жизненный цикл проекта, в каждом отдельном случае жизненный цикл может отличаться.
					// /.accordion
				
				
				+tab()(class="active")
					+accord()(class="col-md")
						+e.title
							span  Заявка или звонок  
					
					+accord()(class="col-md")
						+e.title
							span  Выезд специалиста к&nbsp;вам  
					
					+accord()(class="col-md")
						+e.title
							span Исполнение поставленных задач
					
				+tab()
					+accord()(class="col-md-6")
						+e.title
							span Заявка или звонок 
					
					+accord()(class="col-md-6")
						+e.title
							span Выезд проектной команды
					
					+accord()(class="col-md-6")
						+e.title
							span Проведение проектного обследования (опционально)
					
					+accord()(class="col-md-6")
						+e.title
							span Согласование бюджета и&nbsp;сроков
				 
						
			.text-center(class="wow fadeInUp" data-wow-duration=`${dur * 5}s`   )
				+e.btn.btn-primary.popup-with-move-anim(href="#modal-call"  data-title="Оставить заявку" data-order="стать клиентом в Этапах работы"   data-btn="Оставить заявку")  стать клиентом
	// end s-steps