mixin s-start()
	// start s-start
	+b.SECTION.s-start.section.block-with-lazy#s-start&attributes(attributes)
		picture
			source.lazy-sourse(srcset="#"  type="image/jpg"  data-srcset="img/s-start-bg.jpg" media="(min-width: 576px)" ) 
			source.lazy-sourse(srcset="#" type="image/webp"    data-srcset="img/s-start-bg-md.webp" media="(min-width: 576px)")
			// тут сделай кроп шириной   576px или чуть больше, какой там стандартный
			source.lazy-sourse(srcset="#" type="image/webp"    data-srcset="img/s-start-bg-sm.webp"  )
			img.object-fit-js.lazy(src="#" data-src="img/s-start-bg-sm.jpg", alt="")  
		.container
			.row
				mixin item(r,t)
					+e.col.col-lg-12(class="wow fadeInUp" data-wow-duration=`${dur * 1}s`  )
						+e.inner
							+b.section-title.text-center(class="wow fadeInUp" data-wow-duration=`${dur * 1}s`  )
								h2 
									span.text-primary Бесплатный старт
									|
									|  для вашего бизнеса
							//- h6= r
							//- h3= t
							//- strong бесплатно
							ul
								li Выезд специалиста-аналитика
								li Демонстрация решения
								li Анализ текущей тех. базы и подбор оборудования
								li Демо-доступ к решению
								li Установка программ
								li Первоначальное обучение и заполнение базы
							a.popup-with-move-anim(href="#modal-call" data-title=` ${t} ${r}` data-order= ` заказать бесплатно ${t}`   data-btn="Заказать  ") заказать бесплатно
				+item('для среднего бизнеса','Экспресс обследование')
				//- +item('для крупного бизнеса','Комплексный аудит')
	// end s-start