
- let dur = .3
- let delay = dur * .5

mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/svg/sprite.svg#" + name)



mixin breadcrumb(...items)
	nav.breadcrumb
		-for (var i = 0; i < items.length - 1; i++)
			a.breadcrumb-item(href='#')= items[i]
		span.breadcrumb-item.active=  items[items.length - 1]

		
mixin pugin()
	nav(aria-label='...')
		ul.pagination.justify-content-center
			li.page-item.disabled
				a.page-link(href='#', tabindex='-1') 
					i(class="fas fa-chevron-left")
			li.page-item.disabled
				a.page-link.d-none.d-md-block(href='#', tabindex='-1') Назад

			li.page-item
				a.page-link(href='#') 1
			li.page-item.active
				a.page-link(href='#')
					| 2 
					span.sr-only (current)
			li.page-item
				a.page-link.page-link-more(href='#') ...
			li.page-item
				a.page-link(href='#') 3

			li.page-item
				a.page-link.d-none.d-md-block(href='#') Дальше
			li.page-item
				a.page-link(href='#') 
					i(class="fas fa-chevron-right")
//- h2.yel(class="  wow fadeInUp animated " data-wow-offset="120" data-wow-duration="1.2s")  
mixin arrow()
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
	 
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev 
mixin arrow2()
	.swiper-button-hand.btn-primary.swiper-button-hand-prev.swiper-button-prev
		+icon('long-arrow-alt-left')
	.swiper-button-hand.btn-primary.swiper-button-hand-next.swiper-button-next
		+icon('long-arrow-alt-right')

 
mixin soc()
	+b.soc
		mixin item()
			+e.A.item(href="" target="_blank")
				block
		+item()
			+icon("vk")
		
		+item()
			+icon("fb")
		
		+item()
			+icon("inst")
		
		+item()
			+icon("youtube")
		
mixin mnu()
	- var nav= { "Проектное направление":"#","О компании":"#","Контакты":"#"}
	ul.menu
		li.menu-item.menu-item-has-children
			a(href="#") Программы «1С»
			+icon("top-nav-arrow")
			ul.sub-menu
				//- li.menu-item: a(href="#") Строительство загородных домов
				//- li.menu-item: a(href="#") Отделка загородных домов
				//- li.menu-item: a(href="#") Покраска деревянных домов
				//- li.menu-item: a(href="#") Штукатурные фасады загородных домов
		each linkPatch, linkName in nav
			li.menu-item: a(href="#")= linkName

//- mixin mnu()
//- 	- var nav= {"Продукция ":"#","Услуги  ":"#","Подбор септика   ":"#","Акции ":"#"," О компании  ":"#"," Доставка и оплата ":"#"," Клиентам  ":"#"," Наши работы   ":"#","Контакты ":"#"}
//- 	+e.UL.nav
//- 		each linkPatch, linkName in nav
//- 			+e.LI.item: +e.A.link(href= linkPatch)= linkName


mixin arrow()
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		 
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev 
mixin control-sl()
	.control-wrap
		+arrow()
		.swiper-pagination
		


mixin mobile-menu()
	// start mobile-menu
	+b.SECTION.mobile-menu.section.block-with-lazy#mobile-menu&attributes(attributes)
		.container
			+e.A.main-item(href="#")
				+e.logo-wrapper
					img(src="img/1C-logo.png" alt="")
				+e.item-title Интернет-магазин «1С»
			ul
				mixin mob-item(i, t)
					li
						+e.A.item(href="#")
							+e.svg-wrapper
								+icon(`mob-m${i}`)
							+e.item-title
								if t
									span=t
								else
									block
				+mob-item("1","Бухгалтерский учет")
				+mob-item("2","Торговый и складской учет")
				+mob-item("3","Розница")
				+mob-item("4","Расчет зарплаты и кадры")
				+mob-item("5","Общепит и гостиничный бизнес")
				+mob-item("6","Медицина")
				+mob-item("7","Автотранспорт и логистика")
				+mob-item("8","Дополнительные лицензии")
				+mob-item("9","Документооборот")
				+mob-item("10","Комплексная автоматизация")
				+mob-item("11","Серверные лицензии")
				+mob-item("12")
					span Производственные предприятия и&nbsp;ERP
				+mob-item("13","ИТС")
				+mob-item("14","Отраслевые решения")
				+mob-item("15","CRM")
	// end mobile-menu

mixin pic( i,exp="jpg", bg, lazy="lazy", media='576px')
	- const smpath2 = "2x"
	- const smpath1 = "1x"
	mixin src(i, exp, path , lazy, source, bg)
		-const url= `img/@${path}/${i}.${exp}`
		-const ifLazy = (lazy== "lazy")
		-const src = ( ifLazy ? "#" : url)
		-const data = (ifLazy ?  url  : null)

		if source
			source( srcset=src data-srcset= data  type=`image/${exp}`   )&attributes(attributes)
		else
			img(src=src data-src=data, class=(bg=="bg" ? "object-fit-js": null ) alt="")&attributes(attributes)
	
	// picture
	picture( class= lazy)&attributes(attributes) 
			if media !== 0 
				each val in ["webp",exp] 
					each val2 in [smpath2,smpath1] 
						+src(i,val,`${val2 + (val ==  "webp" ? "/webp" : "") }`,lazy,"source")(media=(val2 == smpath2 ? "(min-width:"+ media+")" : null))
			else 
				+src(i,'webp',smpath2+`/webp`,lazy,"source")
				// /webp images  
			+src(i, exp,smpath2, lazy,"",bg) 
	// /picture