mixin header-block()
	// start header-block
	+b.header-block#header-block
		//- div
		+e.main.container(class="wow fadeIn" data-wow-duration=`${dur * 2}s` data-wow-delay=`${delay * 3.2}s`) 
			//- +e.top-text Цифровизируйся с&nbsp;Datex
			h1 
				span Автоматизация
				br
				| 
				| вашего бизнеса на базе
				| 
				+icon('1c')
			+e.sub-text от&nbsp;надежной проектной команды
			+e.btn.btn-primary.popup-with-move-anim(href="#modal-call" data-title="оставить заявку" data-order="оставить заявку"   data-btn="оставить заявку") оставить заявку
		.container.mt-a(class="wow fadeIn" data-wow-duration=`${dur * 2}s` data-wow-delay=`${delay * 3.2}s`) 
			picture
				source( srcset="img/head-img-new.png" media="(min-width: 992px)")
				// тут сделай кроп шириной   992px или чуть больше, какой там стандартный
				source( srcset="img/head-img-new.png" media="(min-width: 576px)")
				// тут сделай кроп шириной   576px или чуть больше, какой там стандартный
				img.object-fit-js.res-i(src="img/head-img-new.png", alt="")  
			//- +e.foot(class="wow fadeIn" data-wow-duration=`${dur * 1}s` data-wow-delay=`${delay * 3}s`) 
			//- 	.container
			//- 		.row
			//- 			.col-sm
			//- 				+e.logo
			//- 					+icon('1c')
			//- 					| Сертифицированные партнеры 1С
			//- 			+e.col.col-auto
			//- 				+e.scroll-link.scroll-link(href="#s-competences")
			//- 					+icon('mouse')
			//- 			.col
						
		
		//- 	.row
	// end header-block

	
mixin header-block-real()
	// start header-block
	+b.header-block--real
		//- div
		+e.main.container(class="wow fadeIn" data-wow-duration=`${dur * 2}s` data-wow-delay=`${delay * 3.2}s`) 
			.row.align-items-center
				.col-lg-6.col-md-7
					h1  Реальная автоматизация Вашего&nbsp;бизнеса
					+e.sub-title-color от надежной проектной команды 
					+e.text-footer Поможем настроить &laquo;1C&raquo; под ваш бизнес. Вместе&nbsp;сформулируем&nbsp;задачи, предложим оптимальное решение, автоматизируем, научим пользоваться системой на&nbsp;100%
					+e.btn-wrap
						+e.btn--real.btn-primary.popup-with-move-anim(href="#modal-call" data-title="Оставить заявку" data-order="Оставить заявку"   data-btn="оставить заявку") Оставить заявку
						+e.btn--real.btn-primary.btn--white(href="#") Узнать подробнее
				.col
					+e.img-wrap
						PICTURE(class="wow fadeIn" data-wow-duration=`${dur * 2}s` data-wow-delay=`${delay * 3.2}s`) 
						
							img.res-i(src="img/@2x/2man.jpg", alt="")  
 
		//- 	.row
	// end header-block-real

