mixin s-consultation()
 
	// start s-consultation
	+b.SECTION.s-consultation.section.block-with-lazy#s-consultation&attributes(attributes)
		.container 
			+b.section-title 
				h2(class="wow fadeInUp", data-wow-duration=`${dur * 1}s`) Получите консультацию
				strong(class="wow fadeInUp", data-wow-duration=`${dur * 1}s`) бесплатно
				picture(class="wow fadeIn" data-wow-duration=`${dur * 1}s` data-wow-delay=`${delay  * (1 * .5) }s`) 
					//- source(srcset=`img/form.webp` media="(min-width: 768px)" type="image/webp" )
					source(srcset=`img/form.png` media="(min-width: 768px)" type="image/png" )
					// тут сделай кроп шириной   140px или чуть больше, какой там стандартный 
					//- source(srcset=`img/form-sm.webp`  type="image/webp" )
					source(srcset=`img/form-sm.png`   type="image/png" )
					img.lazy.object-fit-js(src="#" data-src=`img/form.png`, alt='')
				p(class="wow fadeInUp", data-wow-duration=`${dur * 1}s`) Проконсультирую Вас по&nbsp;любым направлениям удобным для Вас способом: по&nbsp;телефону, почте или мессенджеру, а&nbsp;также если вы&nbsp;находитесь в&nbsp;Самаре то&nbsp;можете приехать в&nbsp;наш офис или я&nbsp;подъеду к&nbsp;вам.
				h6(class="wow fadeInUp", data-wow-duration=`${dur * 1}s`) нестеров 
					span.text-primary андрей
					small Коммерческий директор
				+e.btn.btn-primary.popup-with-move-anim(href="#modal-call" data-title="Получить консультацию" data-order="Получить консультацию"   data-btn="Получить консультацию" class="wow fadeInUp", data-wow-duration=`${dur * 1}s`) получить консультацию
					span
	// end s-consultation